[submodule "openim"]
	path = openim
	url = https://github.com/openimsdk/openim-docker
[submodule "bigcapital"]
	path = bigcapital
	url = https://github.com/bigcapitalhq/bigcapital
[submodule "dify"]
	path = dify
	url = https://github.com/langgenius/dify
